extends ../../base-templates/tasks

block title
    | Users

block header
    h1 Users

block tasks
    ol
        li Add simple users stored in firebase db. Each user should have it's id, nick and avatar (can be link to an image somewhere in the Internet). Nick and avatar should be chosen on app start.
        li Show which users have seen message
        li.additional Show which users are writing at this moment
