extends ../base-templates/index

block vars
    - var title = 'Rx.js in Angular'

block title
    | #{title}

block header
    | #{title}

block program
    +btn('Example app', 'https://github.com/kapke/ng-shop-firebase')
    +btn('Example app - live', 'https://shining-torch-4509.firebaseapp.com/')

    ol
        li
            +item('Rx.js - basics')
                +btn('Slides', 'http://kapke.github.io/slides/Rx.js')
        li
            +item('Displaying data')
                +btn('Tasks', 'tasks/displaying-data.html')
        li
            +item('Messaging')
                +btn('Tasks', 'tasks/messaging.html')
        li
            +item('Error handling')
                +btn('Tasks', 'tasks/error-handling.html')
        li
            +item('Users')
                +btn('Tasks', 'tasks/users.html')
