extends ../base-templates/index

block vars
    - var title = 'Devmeeting React Native'

block title
    | #{title}

block header
    | #{title}

block program
    ol
        li
            +item('Basic components')
                +btn('Slides', 'slides/basic-components')
                +btn('Tasks', 'tasks/basic-components')
        li
            +item('Handling input and storage')
                +btn('Slides', 'slides/handling-input-and-storage')
                +btn('Tasks', 'tasks/handling-input-and-storage')
        li
            +item('Navigation')
                +btn('Slides', 'slides/navigation')
                +btn('Tasks', 'tasks/navigation')
        li
            +item('Location')
                +btn('Slides', 'slides/location')
                +btn('Tasks', 'tasks/location')
