mixin snackEmbed
    script(async=true, src='https://snack.expo.io/embed.js')

doctype html
html(xp-run-server-url='http://xpla.org')
    head
        block head
            meta(charset='utf-8')
            meta(name='viewport', content='width=device-width')
            style.
                .xp-full-row {
                    height: 100%;
                    width: 100%;
                }
    block body
