extends ../base-templates/index

block vars
    - var title = 'TDD + Testing Angular'

block title
    | #{title}

block header
    | #{title}

block program
    +btn('The App', 'https://github.com/kapke/ng-notepad')

    ol
        li
            +item('Some theory')
                +btn('Slides', 'http://kapke.github.io/slides/Unit%20testing/#/')
        li
            +item('Unit testing')
                +btn('Configuring jest for Angular', 'https://www.xfive.co/blog/testing-angular-faster-jest/')
                +btn('Tasks', 'tasks/unit-testing.html')
        li
            +item('E2E tests')
                +btn('Tasks', 'tasks/e2e-tests.html')
        li
            +item('TDD')
                +btn('Workflow', 'https://upload.wikimedia.org/wikipedia/commons/0/0b/TDD_Global_Lifecycle.png')
                +btn('A book (EN)', 'https://www.amazon.co.uk/Test-Driven-Development-Addison-Wesley-Signature/dp/0321146530/ref=la_B000APC0EY_1_1?s=books&ie=UTF8&qid=1509001659&sr=1-1')
                +btn('A book (PL)', 'https://helion.pl/ksiazki/tdd-sztuka-tworzenia-dobrego-kodu-kent-beck,tddszt.htm#format/d')
                +btn('Tasks', 'tasks/tdd.html')
        li
            +item('Links')
                +btn('Jasmine', 'https://jasmine.github.io/api/edge/global')
                +btn('Jest', 'https://facebook.github.io/jest/')
                +btn('Testing articles at devstyle.pl (PL)', 'https://devstyle.pl/category/tech/tests/')
                +btn('Case study Warta Mobile', 'http://jestem.mobi/2017/08/case-study-warta-mobile/')
