extends ../../base-templates/tasks

block vars
    - var title = 'TDD'

block title
    = title

block header
    h1= title

block tasks
    p
        | Using TDD approach write a calculator app supporting given operations:
        ul
            li +
            li -
            li *
            li /
            li grouping with "(" and ")"
        | The application should have simple UI and be covered with both unit and e2e tests. Don't forgot to implement proper operation precedence.
