extends ../../base-templates/tasks

block vars
    - var title = 'Handling input and storage'

block title
    = title

block header
    h1= title

block tasks
    ol
        li Add simple form for adding new note
        li Save notes to AsyncStorage
        li Add possibility to edit and remove note
        li.additional Allow user to show and hide completed notes
        li.additional Use icons for displaying completed note indicator and for buttons
        li.additional Handle usage of AsyncStorage completely outside components
